body {
    background: radial-gradient(#b8a2d4, rgb(245, 174, 174)) ;
    /* background-image: url(https://i.pinimg.com/originals/f1/47/2f/f1472f334b2df7c0002176ddf26ca638.jpg); */
    background-size: cover;
    background-repeat: no-repeat;

  }


  .lgnd{
    text-align: center;
  }



  h1{
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
  }
  h2{
    font-size: 18px;
    font-weight: bold;
  }
  header {
    background: #c3f3cb;
    height: 150px;
    z-index: 9;
    background-image: url(https://coverfiles.alphacoders.com/371/37163.jpg);

  }


.LCR{
    width: 292px;
    height: 278px;
    cursor: pointer;
    border-radius: 25px;
    border: #b8a2d4 dashed 3px;
    display: inline-flex;
    


}
ul {
    margin-left: 3%;
    border-radius: 8px;
    text-align: center;
    border: black double 13px;
}

  
  li {
  
    list-style: none;
    margin: 20px 40px 20px 0px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;


  }

  body footer {
    background: pink;
    clear: both;
    text-align: center;
    padding: 24px 0;
    color: #0e2805;
  }

  #bigSection{
text-align: center;
  }

  .divX3{
/* 
    background-image: url("../img/rer.jpg");
    background-size: cover;
    height: 800px;
    margin-left: 30%; */
    display: flex;
    margin-left: 20%;

    

  }
  #p1{
margin-left: -3%;
  font-size: larger;
  }



fieldset{
  list-style: 2%;
  

    border: rgb(224, 224, 224) 2px dashed;
    border: dimgray 1px;
    z-index: 5;
}


.chart-container {
  position: relative;
  margin: auto;
  height: 111vh;
  width: 111vh;
  
}


/* -----------------? */


.linkat{
  margin-top: 5%;
  margin-left: 49%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  text-align: center;
}

a{
  width: 250px;
  height: 50px;
  line-height: 46px;
  text-decoration: none;
  border-radius: 50px;
  border: 3px solid rgb(233, 61, 190);
  color: rgb(206, 100, 105);
  font-size: 20px;
  font-family: arial;
  position: relative;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
  transition: all .35s;
}

a:before,
a:after{
  /* position: absolute; */
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: rgb(218, 196, 74);
  z-index: -1;
  transition: all .35s;
}

a:before{
  opacity: .5;
}

a:after{
  transition-delay: .2s;
}

a:hover{
  color: #fff;
}

a:hover:before,
a:hover:after{
  top: 0;
}


	