body {
    background: radial-gradient(#b8a2d4, rgb(245, 174, 174)) ;
    /* background-image: url(https://i.pinimg.com/originals/f1/47/2f/f1472f334b2df7c0002176ddf26ca638.jpg); */
    background-size: cover;
    background-repeat: no-repeat;

  }


  .lgnd{
    text-align: center;
  }

  a{
    text-decoration: none;
    margin: 5%;
    -webkit-text-stroke: rgb(0, 0, 0) 2px;
  }

  nav{
      font-size: xx-large;
      padding: 1%;
      background-color: rgb(212, 157, 157);

  }
  h1{
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
  }
  h2{
    font-size: 18px;
    font-weight: bold;
  }
  header {
    background: #c3f3cb;
    width: 100%;
    padding: 17px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 9;
  }

  nav {
    margin: 0 auto;
    overflow: hidden;
    max-width: 700px;
  }
  

.LCR{
    width: 300px;
    height: 300px;
    cursor: pointer;
    border-radius: 25px;
    border: #b8a2d4 dashed 3px;
    


}
ul {
    margin-left: 3%;
    border: black 2px dotted;
    border-radius: 8px;
}

  
  li {
  
    list-style: none;
    margin: 20px 40px 20px 0px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border: floralwhite 2px solid; */


  }

    
  
  body footer {
    background: pink;
    clear: both;
    text-align: center;
    padding: 24px 0;
    color: #0e2805;
  }

  #bigSection{
text-align: center;
  }

  .divX3{
    text-align: center;
  }

  #p1{

  font-size: larger;
  }

#left1{


    margin-right: 600px;
  }

#right1{
    margin-left: 600px;
    margin-top: -300px;

}

#middle1{
    margin-top: -20%;
}

fieldset{

    border: deeppink 2px dashed;
    border: dimgray 1px;
    z-index: 5;
}



.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 111vh;
  
}

#myChart{
  position: absolute;
  top: -141%;
  left: 27%;
}